.pizzaList {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid black;
    width: 50vw;
    padding: 1rem 1rem 0 1rem;
    .pizzaListCard {
        margin-bottom: 1rem;
        border: solid black 2px;
        padding: 1rem;
        &>.name {
            border-bottom: solid black 2px;
        }
        &>* {
            padding: .5rem 1rem;
        }
    }
}